{% extends "IcapDropzoneBundle::layout.html.twig" %}
{% block resourceBreadcrumb %}
    <li class="active"><span class="glyphicon icon-file"></span> {{ dropzone.resourceNode.name }}</li>
{% endblock %}

{% block dropzone_content %}
<section class="col-xs-12 col-md-12">
 <div class="col-xs-3 col-md-3">
        {# FIRST : MOOC  WIDGET #}
        {% render controller(
            'OrangeThemeBundle:Solerni:getWorkspacePresentationWidget',
            {'workspaceId': workspace.getId(), 'renderProgression': false }
        ) %}
        <div class='col-xs-12 col-md-12 slrn-widget'>
	        <div class='row slrn-back bg-color-grey-2'>
	            <a href="{{ app.session.get('solerni_apprendre_url') }}" class='slrn-back__link'><i class="icon-chevron-left no_underline"></i>{{ 'returnMOOC' | trans }}</a>
	        
	        </div>
        </div>
        
</div>
<div class='col-xs-9 col-md-9'>
    <div class="container container-dropzone slrn-container-dropzone">
    
        {{ macros.flashBox() }}
        
        {# intégrer un comportement dynamique ou pseudo-dynamique pour injecter le bon nom de badge #}
        <div class='drop__annoncement__badge' style='background-image:url()'>
            Badge de compétence en cours d'évalution<br/>
            <span class='bold'>&laquo;Travail et digital&raquo;</span>
        </div>
    
        {% if drop is not null and drop.finished == false %} {# Cas : case préalablement cochée #}
                          
             <script>
			 /*<![CDATA[*/
			    window.location.href = '{{ path('icap_dropzone_drop', {'resourceId': dropzone.id}) }}';	 
			/*]]>*/
			</script> 
        
        {% elseif drop is not null and drop.finished == true %} {# Cas : dossier terminé #}    
                         
            <h2>{{ 'evaluation_by_peers'|trans({}, 'solerni') }}<span class='FAQ'><a href='{{ path( 'solerni_static_page', { 'name': 'cms_faq' } ) }}' class='FAQ'>FAQ</a></span></h2>
            <hr/>
            <p class="slrn-dropzone-text">Votre dossier de preuves a bien été envoyé le {{ drop.getDropDate()|date("d/m/Y") }} pour évaluation par vos pairs.</p>
             <div>
                {#{% set nbDocument = drop.documents|length %}
                {{ 'nbDocumentsInThisEvaluation'|transchoice(drop.documents|length, {}, 'icap_dropzone') }}#}
                <ul>
                    {% for document in drop.documents %}
                        <li>
                            {% include 'IcapDropzoneBundle:Document:simpleShowDocument.html.twig' %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
             <hr/>
             <div>
                 {% if dropzone.peerReview %}
                    {% set expectedCorrections = dropzone.expectedTotalCorrection - nbCorrections %}
                    {% set buttonDisabled = false %}
                {% endif %}
                {% if dropzone.expectedTotalCorrection == expectedCorrections %}
                    {% set buttonText = 'start_corrections'|trans({}, 'solerni') %}
                    <p>Vous devez à votre tour <span class="slrn-bold">évaluer 3 dossiers afin d'obtenir votre évaluation finale</span>. Vous avez jusqu'au {{ dropzone.getEndReview()|date("d/m/Y") }} pour corriger ces dossiers.</p>
                {% endif %}
                {% if dropzone.expectedTotalCorrection > expectedCorrections %}
                    {% set buttonText = 'continue_corrections'|trans({}, 'solerni') %}
                    <p>Vous devez encore <span class="slrn-bold">évaluer {{ expectedCorrections }} dossiers afin d'obtenir votre évaluation finale</span>. Vous avez jusqu'au pour corriger ces dossiers.</p>
                {% endif %}
             </div>
             <div>
                {% if hasCopyToCorrect == false %}
                 <div class="slrn-no-copies">
                     {% set buttonDisabled = true %}
                     <p>Désolé, aucune copie n'est disponible pour le moment.<br />
                     Merci de vous reconnecter d'ici 24h, le temps que d'autres étudiants aient rendu leur copie.</p>
                     <p>A très bientôt</p>
                 </div>
                {% endif %}
                 
                 
                 <a href="{{ path('icap_dropzone_correct', {'resourceId': dropzone.id}) }}" class="btn btn-primary pull-right{% if buttonDisabled == true %} disabled{% endif %}">{{ buttonText }}</a>
             </div>
        {% else %} {# Cas : on arrive pour la première fois #}
          
	    
	        <h2>{{ 'welcome'|trans({}, 'solerni') }}<span class='FAQ'><a href='#' class='FAQ'>FAQ</a></span></h2>
	        
	        <hr/>
	        {% if dropzone.instruction is not null %}
	        <div class='drop__instruction'>
	                {{ dropzone.instruction|raw }}
	        </div>
	        {% endif %}
	        
	        <hr/>
	        
		    
		    <label for='letsgo' >
		      <input type='checkbox' value='go' name='letsgo' id='letsgo'/>
		      {{ 'checkboxStart'|trans({}, 'solerni') }}
		    </label>
		    
		    <div class='row'>
		      <a href="{{ path('icap_dropzone_drop', {'resourceId': dropzone.id}) }}" class="btn btn-primary pull-right disabled drop__buttonStart">{{ 'buttonStart'|trans({}, 'solerni') }}</a>
		    </div>   
		    
  
	        
        <script>
        $(document).on('ready', function() {
        	$('#letsgo').change(function(){
        		  if($(this).is(':checked')){
        		    $('.drop__buttonStart').removeClass("disabled");  
        		  } else {
        		    $('.drop__buttonStart').addClass("disabled");  
        		  }
        		});
        });
        </script>
        
        {% endif %}
{# 
        <hr/>############<hr/>

        {% if dropzone.isNotStarted %}
            <p class="text-muted">
                {{ 'Evaluation not started'|trans({}, 'icap_dropzone') }}
                {% if not dropzone.manualPlanning %}
                     - {{ 'Start %date%'|trans({'%date%': dropzone.startAllowDrop|date('formatDatetime'|trans({}, 'icap_dropzone')) }) }}
                {% endif %}
            </p>
        {% endif %}
        {% if dropzone.isAllowDrop %}
            <p class="text-muted">
                {{ 'Deposit phase'|trans({}, 'icap_dropzone') }}
                {% if not dropzone.manualPlanning %}
                     - {{ 'From %startDate% to %endDate%'|trans({'%startDate%': dropzone.startAllowDrop|date('formatDatetime'|trans({}, 'icap_dropzone')), '%endDate%': dropzone.endAllowDrop|date('formatDatetime'|trans({}, 'icap_dropzone'))}, 'icap_dropzone') }}
                {% endif %}
            </p>
        {% endif %}
        {% if dropzone.isPeerReview %}
            <p class="text-muted">
                {{ 'Peer review phase'|trans({}, 'icap_dropzone') }}
                {% if not dropzone.manualPlanning %}
                     - {{ 'From %startDate% to %endDate%'|trans({'%startDate%': dropzone.startReview|date('formatDatetime'|trans({}, 'icap_dropzone')), '%endDate%': dropzone.endReview|date('formatDatetime'|trans({}, 'icap_dropzone'))}, 'icap_dropzone') }}
                {% endif %}
            </p>
        {% endif %}
        {% if dropzone.isFinished %}
            <p class="text-muted">
                {{ 'Evaluation finished'|trans({}, 'icap_dropzone') }}
            </p>
        {% endif %}

        {% if drop is not null and drop.finished != true %}
            <hr />
            <div>
                {% set nbDocument = drop.documents|length %}
                {{ 'nbDocumentsInThisEvaluation'|transchoice(drop.documents|length, {}, 'icap_dropzone') }}
                <ul>
                    {%  for document in drop.documents%}
                        <li>
                            {% include 'IcapDropzoneBundle:Document:simpleShowDocument.html.twig' %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        {% if not dropzone.isAllowDrop and ((drop is null or drop.finished == false) and (dropzone.isPeerReview or dropzone.isFinished)) %}
            <hr />
            <div class="row">
                <div class="text-danger col-md-12">
                    {{ 'You have not made ​​a copy. It is too late to take part in this evaluation.'|trans({}, 'icap_dropzone') }}
                </div>
            </div>
        {% endif %}

        {% if dropzone.isAllowDrop %}
            {% if drop is null or drop.finished == false %}
                <hr/>
                <div class="row">
                    <div class="text-danger col-md-8">
                        {% if not dropzone.manualPlanning %}
                            {% set minutesRemainingBeforeEndAllowDrop = (dropzone.timeRemainingBeforeEndAllowDrop/60) %}
                            {% set hoursRemainingBeforeEndAllowDrop = (minutesRemainingBeforeEndAllowDrop/60) %}
                            {% set daysRemainingBeforeEndAllowDrop = (hoursRemainingBeforeEndAllowDrop/24) %}

                            {% if daysRemainingBeforeEndAllowDrop >= 1 %}
                                {{ 'There are only nb days to get your copy'|transchoice(daysRemainingBeforeEndAllowDrop|number_format, {}, 'icap_dropzone') }}
                            {% elseif hoursRemainingBeforeEndAllowDrop >= 1 %}
                                {{ 'There are only nb hours to get your copy'|transchoice(hoursRemainingBeforeEndAllowDrop|number_format, {}, 'icap_dropzone') }}
                            {% else %}
                                {{ 'There are only nb minutes to get your copy'|transchoice(minutesRemainingBeforeEndAllowDrop|number_format, {}, 'icap_dropzone') }}
                            {% endif %}
                        {% else %}
                            {% if drop is not null and drop.finished == false %}
                                {{ 'You have an incomplete copy in progress'|trans({}, 'icap_dropzone') }}
                            {% else %}
                                {{ 'You have not yet made a copy'|trans({}, 'icap_dropzone') }}
                            {% endif %}
                        {% endif %}
                    </div>
                    <div class="col-md-4">
                        {% if drop is not null and drop.finished == false %}
                            <a href="{{ path('icap_dropzone_drop', {'resourceId': dropzone.id}) }}" class="btn btn-primary pull-right">{{ 'Complete my copy'|trans({}, 'icap_dropzone') }}</a>
                        {% else %}
                            <a href="{{ path('icap_dropzone_drop', {'resourceId': dropzone.id}) }}" class="btn btn-primary pull-right">{{ 'Start evaluation'|trans({}, 'icap_dropzone') }}</a>
                        {% endif %}
                    </div>
                </div>
            {% endif %}
        {% endif %}

        {% if dropzone.timeRemainingBeforeStartReview > 0 and drop is not null and drop.finished == true %}
            <div class="row">
                <div class="col-md-12 text-danger">
                    {% set minutesRemainingBeforeStartReview = (dropzone.timeRemainingBeforeStartReview/60) %}
                    {% set hoursRemainingBeforeStartReview = (minutesRemainingBeforeStartReview/60) %}
                    {% set daysRemainingBeforeStartReview = (hoursRemainingBeforeStartReview/24) %}

                    {% if daysRemainingBeforeStartReview >= 1 %}
                        {{ 'There are only nb days before the beginning of the peer review'|transchoice(daysRemainingBeforeStartReview|number_format, {}, 'icap_dropzone') }}
                    {% elseif hoursRemainingBeforeStartReview >= 1 %}
                        {{ 'There are only nb hours before the beginning of the peer review'|transchoice(hoursRemainingBeforeStartReview|number_format, {}, 'icap_dropzone') }}
                    {% else %}
                        {{ 'There are only nb minutes before the beginning of the peer review'|transchoice(minutesRemainingBeforeStartReview|number_format, {}, 'icap_dropzone') }}
                    {% endif %}
                </div>
            </div>
        {% endif %}

        {% if dropzone.peerReview %}
            {% set expectedCorrections = dropzone.expectedTotalCorrection - nbCorrections %}
        {% else %}
            {% set expectedCorrections = 0 %}
        {% endif %}
        {% if dropzone.isPeerReview and expectedCorrections > 0 %}
            {% if drop is not null and drop.finished == true %}
                <hr/>
                {% if not dropzone.manualPlanning %}
                    <div class="row">
                        <div class="col-md-12 text-danger">
                            {% set minutesRemainingBeforeEndReview = (dropzone.timeRemainingBeforeEndReview/60) %}
                            {% set hoursRemainingBeforeEndReview = (minutesRemainingBeforeEndReview/60) %}
                            {% set daysRemainingBeforeEndReview = (hoursRemainingBeforeEndReview/24) %}
                            {% if daysRemainingBeforeEndReview >= 1 %}
                                {{ 'There are only nb days before the end of the peer review'|transchoice(daysRemainingBeforeEndReview|number_format, {}, 'icap_dropzone') }}
                            {% elseif hoursRemainingBeforeEndReview >= 1 %}
                                {{ 'There are only nb hours before the end of the peer review'|transchoice(hoursRemainingBeforeEndReview|number_format, {}, 'icap_dropzone') }}
                            {% else %}
                                {{ 'There are only nb minutes before the end of the peer review'|transchoice(minutesRemainingBeforeEndReview|number_format, {}, 'icap_dropzone') }}
                            {% endif %}
                        </div>
                    </div>
                {% endif %}

                <div class="row">
                    <div class="text-danger col-md-9">
                        {{ 'nb correction remains'|transchoice(expectedCorrections, {}, 'icap_dropzone') }}
                    </div>

                    <div class="col-md-3">
                        {% if hasCopyToCorrect == true and hasUnfinishedCorrection == false %}
                            <a href="{{ path('icap_dropzone_correct', {'resourceId': dropzone.id}) }}" class="btn btn-primary pull-right">{{ 'Correct a copy'|trans({}, 'icap_dropzone') }}</a>
                        {% endif %}
                    </div>
                </div>

                {% if hasUnfinishedCorrection == true %}
                    <div class="row">
                        <div class="col-md-9 text-danger">
                            {{ 'You have already begun a correction.'|trans({}, 'icap_dropzone') }}
                        </div>
                        <div class="col-md-3">
                            <a href="{{ path('icap_dropzone_correct', {'resourceId': dropzone.id}) }}" class="btn btn-primary pull-right">{{ 'Complete my correction'|trans({}, 'icap_dropzone') }}</a>
                        </div>
                    </div>
                {% elseif hasCopyToCorrect == false %}
                    <div class="row">
                        <div class="col-md-9 text-danger">
                            {{ 'Unfortunately there is no copy to correct for the moment. Please try again later'|trans({}, 'icap_dropzone') }}
                        </div>
                        <div class="col-md-3">
                            <a href="{{ path('icap_dropzone_correct', {'resourceId': dropzone.id}) }}" class="btn btn-primary pull-right">{{ 'Retry'|trans({}, 'icap_dropzone') }}</a>
                        </div>
                    </div>
                {% endif %}
            {% endif %}
        {% endif %}

        {% if drop is not null and drop.finished == true and expectedCorrections <= 0 %}
            <hr/>
            <div class="row">
                {% if drop.countFinishedCorrections >= dropzone.expectedTotalCorrection %}
                    {% if drop.calculatedGrade >= dropzone.minimumScoreToPass %}
                        <div class='text-success'>
                            {% if dropzone.displayNotationMessageToLearners %}
                                <div class="col-md-6">
                                    Bravo ! Vous avez reussi cette évaluation
                                </div>
                            {% endif %}
                            {% if dropzone.displayNotationToLearners %}
                                <div class="col-md-6">
                                    Note : {% include 'IcapDropzoneBundle:Drop:dropsTotalGrade.html.twig' %}
                                </div>
                            {% endif %}
                        </div>
                    {% else %}
                        <div class='text-danger'>
                            {% if dropzone.displayNotationMessageToLearners %}
                                <div class="col-md-6">
                                    Dommage... Vous avez echoué cette évaluation
                                </div>
                            {% endif %}
                            {% if dropzone.displayNotationToLearners %}
                                <div class="col-md-6">
                                    Note : {% include 'IcapDropzoneBundle:Drop:dropsTotalGrade.html.twig' %}
                                </div>
                            {% endif %}
                        </div>
                    {% endif %}
                {% else %}
                    <div class="col-md-12">
                        <strong>
                            {% if dropzone.peerReview %}
                                {{ 'Finished! You have realized the nb corrections expected. Patience your copy is being corrected.'|transchoice(dropzone.expectedTotalCorrection, {}, 'icap_dropzone') }}
                            {% else %}
                                {{ 'Finished! Patience your copy is being corrected.'|trans({}, 'icap_dropzone') }}
                            {% endif %}
                        </strong>
                    </div>
                {% endif %}
            </div>
        {% endif %}

        {% if dropzone.instruction is not null %}
            <hr/>
            <p class="text-muted">
                {{ 'Instruction_'|trans({}, 'icap_dropzone') }}
            </p>
            <p>
                {{ dropzone.instruction|raw }}
            </p>
        {% endif %} #}
    </div>
</div></section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}}
{% endblock %}