{% form_theme form "IcapDropzoneBundle::form_theme_bootstrap3.html.twig" %} 

<form class="form-inline" method="POST" action="{{ path('icap_dropzone_document', {'resourceId': dropzone.id, 'documentType': documentType, 'dropId': drop.id}) }}" {{ form_enctype(form) }}>

    {% block document_header %}
        <div class="row">
            <div class="col-md-12">
                <h4>{{ documentType|trans({}, 'icap_dropzone') }}</h4>
                {#<span class="text-muted">Default template</span>#}
            </div>
        </div>
    {% endblock %}

    {% block document_body %}
        <div class="row">
          {#}  {{ form_row(form.document, {'label_col_size': ' ', 'input_col_size': 'col-md-8', 'attr': {'placeholder': (documentType~'_placeholder')|trans({}, 'icap_dropzone')}, 'label_attr': {'class': 'sr-only'} }) }} {#}  

			<div class="col-md-9">
			         {% if documentType == 'url' %}
			         
	         <input type="url" id="icap_dropzone_document_file_form_document" 
	             name="icap_dropzone_document_file_form[document]" required="required" 
	             placeholder="http://..." class="form-control">
			         
			         {% elseif documentType == 'file' %}
			         
			   <div class="fileUpload btn btn-primary btn-gris">
				    <span>Upload</span>
				    <input id="icap_dropzone_document_file_form_document" name="icap_dropzone_document_file_form[document]" 
				        type="file" class="upload"/>
				</div>
		      <input id="fakeone" placeholder="Aucun fichier choisi" disabled="disabled" class="form-control"/>
			         
			         {% endif %}
			   
		    </div>
		    
            <div class="col-md-3">
                <div class="form-group pull-right">
                    <a href="{{ path('icap_dropzone_drop', {'resourceId': dropzone.id}) }}" class="btn btn-default cancel-inline">{{ 'Cancel'|trans({}, 'icap_dropzone') }}</a>
                    <button type="submit" class="btn btn-primary">
                        {{ 'Add'|trans({}, 'icap_dropzone') }}
                    </button>
                </div>
            </div>
			<script>
				document.getElementById("icap_dropzone_document_file_form_document").onchange = function () {
				    arr = this.value.split("\\");
				    document.getElementById("fakeone").value = arr[arr.length-1];

					//var input = document.getElementById("icap_dropzone_document_file_form_document");
					//alert(this.files[0]);
				};
			</script>
        </div>
    {% endblock %}
    {{ form_errors(form) }}
    {# {{ form_end(form) }} #}
    
    {{ form_row(form._token)}}
</form>