<div class="row">
<div class="col-md-12">
    {% if drop.countFinishedCorrections >= dropzone.expectedTotalCorrection %}
    
        {% if drop.calculatedGrade >= dropzone.minimumScoreToPass %}
        
	        <h2>{{ 'endOK'|trans({}, 'solerni') }}<span class='FAQ'><a href='{{ path( 'solerni_static_page', { 'name': 'cms_faq' } ) }}' class='FAQ'>FAQ</a></span></h2>
	        <hr/>
	        <p>
	            <strong>Vous avez reussi cette évaluation</strong> en obtenant une note de 
	            {% if dropzone.displayNotationToLearners %}
	              <span class='slrn-correct-final-note londrina-solid'>{% include 'IcapDropzoneBundle:Drop:dropsTotalGrade.html.twig' %}</span>
	            {% endif %}
	        </p>
	        <hr/>
			<div class='redlink'>
				<h3>Consulter vos badges</h3>
				<p>Votre espace de travail est désormais clôturé mais vous pouvez retrouver l'intégralité de <a href='#'>vos badges</a> obtenus dans votre tableau de bord</p>
				
				<h3>Vous souhaitez obtenir de nouveaux badges ?</h3>
				<p>Rendez vous dans la liste des <a href='#'>badges de compétence</a> proposés par le MOOC "le digital, vivons-le ensemble" et sélectionnez à nouvaeu le badge qui vous manque.</p>
		    </div>
        {% else %}
        
	        <h2>{{ 'endNOK'|trans({}, 'solerni') }}<span class='FAQ'><a href='{{ path( 'solerni_static_page', { 'name': 'cms_faq' } ) }}' class='FAQ'>FAQ</a></span></h2>
	        <hr/>
	        <p>
	            Vous avez obtenu une note de 
	            {% if dropzone.displayNotationToLearners %}
	                    <span class='slrn-correct-final-note londrina-solid'>{% include 'IcapDropzoneBundle:Drop:dropsTotalGrade.html.twig' %}</span>
	                {% endif %}
	            insuffisante pour obtenir votre badge de compétence
		    </p>
		    <hr/>
			<div class='redlink'>
				<h3>Recommencer ou obtenir un autre badge</h3>
				<p>Votre espace de travail est désormais clôturé mais vous pouvez tenter  une nouvelle évaluation ou tenter d'obternir un autre badge.</p>
				<p>Rendez vous dans la liste des <a href='#'>badges de compétence</a> proposés par le MOOC "le digital, vivons-le ensemble" et sélectionnez à nouvaeu le badge qui vous manque.</p>
				<p></p>
				<p>Si certains concepts vous ont échappé, n'hésitez pas à échanger et à demander de l'aide auprès de vos pairs dans <a href='#'>les forums de discussions</a>.</p>
			</div>
	     {% endif %}
        
    {% else %}
    
        
        
            <h2>{{ 'endNotOver'|trans({}, 'solerni') }}<span class='FAQ'><a href='{{ path( 'solerni_static_page', { 'name': 'cms_faq' } ) }}' class='FAQ'>FAQ</a></span></h2>
            <hr/>
            <div class='redlink'>
				<p>Encore un peu de patience, votre dossier est toujours en cours d'évaluation.</p>
				<p>Vous découvrirez très bientôt si vous avez réussi votre évaluation et obtenu votre badge de compétence.</p>
				<p></p>
				<p><strong>A très bientôt</strong></p>
			</div>

    {% endif %}
</div>
</div>